@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply grid place-items-center min-h-screen h-full w-full overflow-x-hidden bg-black p-6;
  }
  #qr {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1/1 !important;
  }
  ::-webkit-scrollbar {
    @apply w-0 hidden;
  }
  .w-color-colorful{
    height: 100px !important;
  }
}
